{% extends "app/base.html" %} {% load static %}{% block title %}
<title>Home</title>
{% endblock title %} {% block content %}
<video controls autoplay>
    <source class="video-fluid" src="{% static 'app/polina.mp4' %}" type="video/mp4">
    
  Your browser does not support the video tag.
  </video>
<div class="container">
    <div class="text-center message">
        <h4>
            <span class="one">Kenya's </span> <span class="two">Magic</span>
        </h4>
        <p class="lorem">Kenya is a country in East Africa with coastline on the Indian Ocean.</p>
    </div>

    <div class="row mt-2">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header p-0">
                    <img src="{% static 'app/images/lion.jpg' %}" alt="" class="img-fluid card-img-top">
                </div>
                <div class="card-body">
                    <h5>Wildlife</h5>
                    <h6>Among the many, many creatures found in Kenya are the lion, the leopard, and the cheetah, the black and white rhinoceros, giraffes the black and white rhinoceros, giraffes, antelopes etc.</h6>
                    <a href="{% url 'wildlife' %}" class="btn mt-3 mb-3">Read More...</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header p-0">
                    <img src="{% static 'app/images/marine3.jpg' %}" alt="" class="img-fluid card-img-top">

                </div>
                <div class="card-body">
                    <h5>Tours</h5>
                    <h6>We are a Kenya based East African tour operator taking pride in providing Kenya Safari tours, Combined Kenya & Tanzania safari trips, Mount Kenya & Kilimanjaro treks</h6>
                    <a href="{% url 'trips' %}" class="btn mt-3 mb-3">Read More...</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header p-0">
                    <img src="{% static 'app/images/culture2.jpg' %}" alt="" class="img-fluid card-img-top">

                </div>
                <div class="card-body">
                    <h5>Sites</h5>
                    <h6>Kenya is a country in East Africa with coastline on the Indian Ocean. It encompasses savannah, lakelands, the dramatic Great Rift Valley and mountain highlands.</h6>
                    <a href="{% url 'sites' %}" class="btn mt-3 mb-3">Read More...</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="parralax">
    <div class="row ">
        <div class="col-md-4">
            <img src="{% static 'app/images/trulyafrican.jpg' %}" alt="" class="img-fluid image">
        </div>
        <div class="col-md-7">

            <p class="text-one">
                What about Kenya??
            </p>
            <h4>
                <span class="one">Get to know more  </span> <span class="two">About Us</span>
            </h4>
            <p class="text-light">
                Kenya is a country in East Africa with coastline on the Indian Ocean. It encompasses savannah, lakelands, the dramatic Great Rift Valley and mountain highlands. It's also home to wildlife like lions, elephants and rhinos </p>
            <p class="text-light">
                From Nairobi, the capital, safaris visit the Maasai Mara Reserve, known for its annual wildebeest migrations, and Amboseli National Park, offering views of Tanzania's 5,895m Mt. Kilimanjaro. </p>
            <p class="text-light">Magical Kenya Signature Experiences Collection are curated unique, authentic and exceptional once in a lifetime Kenyan travel experiences.</p>
            <a href="{% url 'home' %}" class="btn mt-3 mb-3">Read More...</a>

        </div>
    </div>
</div>
<div class="container">
    <h4 class="text-center">
        <span class="one">Read about our  </span> <span class="two">Blog</span>
    </h4>
    <div class="row mt-60">
        <div class="col-md-4">
            <div class="blog">
                <h6 class="text-muted">Kenya is a country in East Africa with coastline on the Indian Ocean. It encompasses savannah, lakelands, the dramatic Great Rift Valley and mountain highlands</h6>
                <p class="mt-3 text-muted">Kenya | Today's daily</p>
            </div>
            <div class="blog">
                <h6 class="text-light">Kenya is a country in East Africa with coastline on the Indian Ocean. It encompasses savannah, lakelands, the dramatic Great Rift Valley and mountain highlands</h6>
                <p class="mt-3 text-light">Kenya | Today's daily</p>
            </div>
            <div class="blog">
                <h6 class="text-light">Kenya is a country in East Africa with coastline on the Indian Ocean. It encompasses savannah, lakelands, the dramatic Great Rift Valley and mountain highlands</h6>
                <p class="mt-3 text-light">Kenya | Today's daily</p>
            </div>
            <div class="button">
                <a href="{% url 'home' %}" class="btn mt-3 mb-3">Read More...</a>

            </div>
        </div>
        <div class="col-md-8">
            <img src="{% static 'app/images/curve2.jpg' %}" alt="" class="img-fluid">
            <h6 class="mt-3">Tourism has been an important part of Kenya's recent history</h6>
            <p class="text-muted">
                Kenya is a country in East Africa with coastline on the Indian Ocean. It encompasses savannah, lakelands, the dramatic Great Rift Valley and mountain highlands. It's also home to wildlife like lions, elephants and rhinos. From Nairobi, the capital, safaris
                visit the Maasai Mara Reserve, known for its annual wildebeest migrations, and Amboseli National Park, offering views of Tanzania's 5,895m Mt. Kilimanjaro.
            </p>
            <p>
                Tourism has been an important part of Kenya's recent history </p>

        </div>
    </div>
</div>
<div class="about">
    <div class="conatiner">
        <div class="text-center">
            <h4>
                <span class="one">Kenyan's Reviews</span> <span class="two">About Us</span>
            </h4>
            <p class="lorem">Tourism has been an important part of Kenya's recent history

            </p>
        </div>
        <div class="container">
            <div class="row mt-20">
                <div class="col-md-6">
                    <div class="card p-2">
                        <div class="card-body">
                            <div class="text-center">
                                <h6>Multimedia Presentation</h6>
                                <p class="brown">Testimonial One</p>
                            </div>
                            <p class="text-dark">KENYA lies across the equator on the east coast of Africa. It is surrounded by Somalia in the north east, Ethiopia and Sudan in the north, Uganda in the west and Tanzania to the south. The south east of the country is the coastal
                                belt, with white sandy beaches, palm trees and year-round hot weather next to the Indian Ocean.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card p-2">
                        <div class="card-body">
                            <div class="text-center">
                                <h6>Multimedia Presentation</h6>
                                <p class="brown">Testimonial Two</p>
                            </div>
                            <p class="text-dark">KENYA lies across the equator on the east coast of Africa. It is surrounded by Somalia in the north east, Ethiopia and Sudan in the north, Uganda in the west and Tanzania to the south. The south east of the country is the coastal
                                belt, with white sandy beaches, palm trees and year-round hot weather next to the Indian Ocean.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-40">
    <div class="container">
        <div class="text-center">
            <h4>
                <span class="one">Send Us</span> <span class="two">Your Feedback</span>
            </h4>
            <p class="lorem">Tourism has been an important part of Kenya's recent history

            </p>
        </div>

        <div class="myform">
            <div class="container">
                <form action="" method="post">
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="name">
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="email">
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="subject">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <textarea name="" id="textarea" placeholder="message"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <a href="" class="btn mt-3 mb-3 btn-light pl-5 pr-5">SEND MESSAGE</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock %}